telethon
pymongo
dnspython
meval
mtranslate
urbandict
pygdrive3fixed
emoji
fontTools
pytube
google-api-python-client
lxml
search-engine_parser
google_images_download
oauthclient
gtts
oweatherm
requests
pillow
langdetect
pySmartDL
youtube_dl
youtube2mp3
youtube-search
ffmpeg