telethon
meval
mtranslate
urbandict
cython
pygdrive3fixed
google - api - python - client
oauthclient
oweatherm
requests
pillow
langdetect
pySmartDL
youtube_dl
youtube2mp3
youtube-search
ffmpeg
numpy
pandas
